div#plates{
    background-color: rgb(255, 242, 242);
    
    margin-top: 200px;
    opacity: 1;
    border-radius: 10px;
    padding-left: 20px;
    height: 300px;
    align-items: center;
   
    
   
}
div#plate{
    background-color: rgb(241, 234, 234);
    width: 200px;
    padding: 20px;
    
    opacity: 50px;
    font-family: 'Overpass', sans-serif;
    border-radius: 10px;
    margin-left: 30px;
    display: inline-flex;
    align-items: center;
    
  
}
div#plate:hover{
    padding: 30px;
    transition: 900ms;
    filter: opacity(10px); 
    color: rgb(226, 182, 182); 
    border: 1px solid;  
}
a#plate:hover{
    padding: 30px;
    transition: 900ms;
    filter: opacity(10px); 
    color: rgb(226, 182, 182); 
    border: 1px solid;  

}
body{
    background-color: rgb(255, 242, 242);
}
div#plates:hover{
    filter:opacity(10px);
    
}
header{
    
}
h1{
    font-family: 'Kodchasan', sans-serif;
    font-size: 30px;
    border: 1px dotted;

    display: flex;
    
    
}
h2{
    
}
h2#headerblock{
    font-family: 'Kodchasan', sans-serif;
    text-align: center;
}
img{
    height: 100px;
}
div#about{
   text-align: center;
   font-family: 'Kodchasan', sans-serif;
   background-color: rgb(255, 242, 242);
   border: 1px solid;
   box-shadow: 10px 10px 10px white;
}
footer{
    font-family: 'Kodchasan', sans-serif;
    background-color: rgb(255, 242, 242);
}
button#menu{
   padding: 1px;
   margin-left: 30px;
   border: 1px dashed;
   font-family: 'Kodchasan', sans-serif;
   
    
}
div#menu{
    text-align: center;
    padding: 20px;
   
}
button#menu:hover{
    color: rgb(226, 182, 182); 
    padding: 5px;
    transition: 200ms;
}
button#footer{
  padding-left: 20px;
}
div#footer{
    
}
a{
    text-decoration: none;
    color: black;
}
div#foot{
    padding-top: 30px;
    text-align: ;
    margin: 10px;
    display: inline;
    flex-wrap: wrap;
}
h1:hover{
    
}
span:hover{
    background-color: rgb(255, 255, 255);
    padding-right: 20px;
    transition: 1000ms;
}
div#cards{
    background-color: rgb(255, 242, 242);
    
    margin-top: 200px;
    opacity: 1;
    border-radius: 10px; 
    
    height: 400px;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}
div#card{
    background-color: rgb(241, 234, 234);
    width: 300px;
    height: 400px;
    padding-left: 20px ;
    margin-left: 10px;
    margin-bottom: 50px;
    display: inline;
    flex-wrap: wrap;
    
}
button#card{
    border: 0px;
    color: grey;
    background-color: rgb(255, 255, 255);
    font-family: 'Varela Round', sans-serif;
}
button#card:hover{
    margin: 10px;
    transition: 1000ms;
}
img{
    text-align: center;
    height: 200px;
    width: 200px;
}
h2#card{
    font-family: 'Kodchasan', sans-serif;
    display: flex;
}
p#card{
    font-family: 'Overpass', sans-serif;
}
p#abouti{
   text-align: center;
   font-family: 'Kodchasan', sans-serif;
   background-color: rgb(255, 242, 242);
   border: 1px solid;
   box-shadow: 10px 10px 10px white;
}
div#Music{
    padding-top: 100px;
    display: flex;
    flex-direction: column;
}

h1#abouth{
 box-shadow: 5px 7px 10px rgb(255, 255, 255);
 display: flex;
 flex-direction: column;
}

  

p#about{
    font-family: 'Overpass', sans-serif;
}  
img#socialabout{
    height: 20px;
    width: 20px;
}
div#cardsgrave{
    text-align: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
}
h1#headertitle{
    
}
h2#inprocess{
font-family: monospace;
text-align: center;
font-weight: 100;
margin-top: 10px;
}
div#cardsabouthtml{
    margin-left: 20px;
    display: flexbox;
    
}
ul#infoprod{
   text-align: left;
   padding-right: 30px;
   border: 1px dashed;
   display: flexbox;
}
li{
    list-style: none;
    padding-top: 20px;
    font-family: 'Bad Script', cursive;
    border: 1px dashed;
    display: flex;
}
span#clock:hover{
    padding: 10px;
    background-color:rgb(255, 242, 242);

    
}
div#proc{
   
}
img#musicimages{
    display: flex;
    flex-wrap: wrap;
    
}
